# Statistics basics
This is autograded assignment. After each problem there is a test cell (with `assert`'s). If it runs correctly, test is passed, if it gives error, something should be fixed. Implement the functions, click "Validate" button, then submit for grading. All problems weight 1 point except where stated otherwise.

In [3]:
import pandas as pd

## DataFrame basics

### Problem 1
Write function `mult_table(n)` that creates `n × n` multiplication table as `pd.DataFrame`. Indexes and columns should be consequent numbers from 1 to `n` (inclusive), cells should be products of their indexes. For example, `mult_table(4)` should produce `pd.DataFrame` with table

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>6</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>8</td>
      <td>12</td>
      <td>16</td>
    </tr>
  </tbody>
</table>

In [5]:
def mult_table(n):
    df = pd.DataFrame([[i*j for i in range(1, n+1)] for j in range(1, n+1)],
                      index=[i for i in range(1, n+1)], 
                      columns=[i for i in range(1, n+1)])
    return df

In [6]:

pd.testing.assert_frame_equal(mult_table(1), pd.DataFrame([[1]], index=[1], columns=[1]))
pd.testing.assert_frame_equal(mult_table(2), pd.DataFrame([[1, 2], [2, 4]], index=[1, 2], columns=[1, 2]))
pd.testing.assert_frame_equal(mult_table(5), pd.DataFrame([[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]], index=[1, 2, 3, 4, 5], columns=[1, 2, 3, 4, 5]))
pd.testing.assert_frame_equal(mult_table(20), pd.DataFrame([[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171, 180], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200], [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176, 187, 198, 209, 220], [12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240], [13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195, 208, 221, 234, 247, 260], [14, 28, 42, 56, 70, 84, 98, 112, 126, 140, 154, 168, 182, 196, 210, 224, 238, 252, 266, 280], [15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240, 255, 270, 285, 300], [16, 32, 48, 64, 80, 96, 112, 128, 144, 160, 176, 192, 208, 224, 240, 256, 272, 288, 304, 320], [17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187, 204, 221, 238, 255, 272, 289, 306, 323, 340], [18, 36, 54, 72, 90, 108, 126, 144, 162, 180, 198, 216, 234, 252, 270, 288, 306, 324, 342, 360], [19, 38, 57, 76, 95, 114, 133, 152, 171, 190, 209, 228, 247, 266, 285, 304, 323, 342, 361, 380], [20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300, 320, 340, 360, 380, 400]], index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], columns=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]))

### Problem 2
Write function `get_rows_after_5(df, n)` that takes dataframe `df` and returns a new dataframe that contains `n` rows of `df`, beginning with 5th. For example `get_row_after_5(df, 1)` should return only fifth row of `df`.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [13]:
def get_rows_after_5(df, n):
    return df[4:4+n]

In [14]:
df = pd.DataFrame([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9], 
                   [10, 11, 12], 
                   [13, 14, 15], 
                   [16, 17, 18], 
                   [19, 20, 21]])

assert get_rows_after_5(df, 1).equals(pd.DataFrame([[13, 14, 15]], index=[4]))
assert get_rows_after_5(df, 2).equals(pd.DataFrame([[13, 14, 15], [16, 17, 18]], index=[4, 5]))
assert get_rows_after_5(df, 3).equals(pd.DataFrame([[13, 14, 15], [16, 17, 18], [19, 20, 21]], index=[4, 5, 6]))


df.index = list(range(6, -1, -1))
assert get_rows_after_5(df, 1).equals(pd.DataFrame([[13, 14, 15]], index=[2]))

df.index = list('abcdefg')
df.sort_values(0, ascending=False, inplace=True)

assert get_rows_after_5(df, 1).equals(pd.DataFrame([[7, 8, 9]], index=['c']))
assert get_rows_after_5(df, 2).equals(pd.DataFrame([[7, 8, 9], [4, 5, 6]], index=['c', 'b']))

df['hello'] = list('qwertyu')

get_rows_after_5(df, 2)

assert get_rows_after_5(df, 2).equals(pd.DataFrame([[7, 8, 9, 't'], [4, 5, 6, 'y']], columns = [0, 1, 2, 'hello'], index=['c', 'b']))

### Problem 3
Consider dataframe `df` that contains some table. Its indexes are integer numbers, not necessary consequent. Write function `between(df, n, m)` that returns all rows of this table between rows with indexes `n` and `m`, including `n` and `m`. It is guaranteed that row with index `n` is present and located before row with index `m`.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [60]:
def between(df, n, m):
    return df.loc[n:m]

In [62]:
df = pd.DataFrame([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9], 
                   [10, 11, 12], 
                   [13, 14, 15], 
                   [16, 17, 18], 
                   [19, 20, 21]])
assert between(df, 2, 3).equals(pd.DataFrame([[7, 8, 9], [10, 11, 12]], index=[2, 3]))

df.index=[1, 2, 10, 9, 8, 7, 3]

assert between(df, 2, 3).equals(pd.DataFrame([[4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21]], columns=[0, 1, 2], index=[2, 10, 9, 8, 7, 3]))

### Problem 4
Consider dataframe `df` that contains gradebook. There are columns `First Name` and `Last Name` that contains first and last anmes, and other columns that contain grades of a particular student for a particular course (integer number). We assume there are no students with identical first and last names. Write a function `get_grade(df, firstname, lastname, course)` that returns grade for particular student and particular course. 

**Example:**

For input table

```
  Last Name First Name  Algebra  Calculus  Music  Law
0       Doe       John        4         5      3    5
1     Smith      Alice        5         4      2    4
```
that is written as

```python
df = pd.DataFrame(
    [
        ['Doe', 'John', 4, 5, 3, 5], 
        ['Smith', 'Alice', 5, 4, 2, 4]
    ], 
    columns=['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law']
)
```
function `get_grade(df, 'Doe', 'John', 'Algebra')` should return number `4`.

Note that you have to return number, not a series or dataframe.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [83]:
def get_grade(df, lastname, firstname, course):
    df2 = df.loc[(df['First Name'] == firstname) & (df['Last Name'] == lastname)]
    return df2[course].values[0]

In [84]:
def test(table, columns):
    df = pd.DataFrame(table, columns=columns)
    for row in table:
        firstname = row[columns.index('First Name')]
        lastname = row[columns.index('Last Name')]
        for j, course in enumerate(columns[2:], 2):
            assert get_grade(df, lastname, firstname, course) == row[j]

test(
    [
        ['Doe', 'John', 1, 2, 3, 4], 
        ['Smith', 'Alice', 5, 4, 2, 4]
    ], 
    columns=['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4], 
        ['Max', 'Katz', 5, 4, 2, 4]
    ], 
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4, 3, 2], 
        ['Jennifer', 'Lopez', 5, 4, 2, 4, 1, 1],
        ['John', 'Smith', 2, 1, 4, 3, 3, 2]
    ],
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law', 'CS', 'Physics']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4, 3, 2], 
        ['Jack', 'Doe', 5, 4, 2, 4, 1, 1],
        ['John', 'Smith', 2, 1, 4, 3, 3, 2]
    ],
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law', 'CS', 'Physics']
)

### Problem 5

Write functiom `contains_null(df)`, that returns `True`, if dataframe `df` has at least one missing value (`NaN`, `NA` or `None`), and `False` otherwise.

**Hint.** Look at the methods `.isnull()` и `.any()`.

In [89]:
def contains_null(df):
    null_data = df[df.isnull().any(axis=1)]
    if len(null_data) > 0:
        return True
    else:
        return False

In [90]:
import numpy as np
tester_inp = [pd.DataFrame({'A': [1,2,3], 'B': [2,3,4], 'C': [1,1, None]}), 
             pd.DataFrame(np.random.randint(-20, 50, 60000).reshape(-1,15)),
             pd.DataFrame({'Z': [1]}),
             pd.DataFrame({'Z': []}),
             pd.DataFrame({'A': [1,1,1,1,1], 3: ['A', 'B', 'C', 'D', 'E'], 'Z': [2,2, None, np.nan, 0]}),
             pd.DataFrame([['Элизабет', 'Чай', 9, 354], ['Иван Никифорович', 'Колбаса', 3, 523], ['Элизабет', 'Молоко', 4, 476], ['Элизабет', 'Молоко', 5, 253], ['Иван Иванович', 'Кефир', 5, 829], ['Иван Никифорович', 'Молоко', 7, 874], ['Элизабет', 'Чай', 3, 901], ['Петя', 'Хлеб', 4, 644], ['Иван Иванович', 'Хлеб', 8, 943], ['Элизабет', 'Колбаса', 5, 80], ['Иван Никифорович', 'Чай', 3, 537], ['Иван Иванович', 'Журнал "Мурзилка"', 7, 204], ['Петя', 'Журнал "Мурзилка"', 2, 251], ['Петя', 'Колбаса', 1, 344], ['Иван Никифорович', 'Простокваша', 5, 694], ['Иван Иванович', 'Кефир', 3, 661], ['Иван Никифорович', 'Чай', 7, 0], ['Элизабет', 'Хлеб', 6, 36], ['Ваня', 'Колбаса', 9, 40], ['Элизабет', 'Чай', 5, 846]], columns=['Покупатель', 'Товар', 'Количество', 'Цена'], index=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]),
             pd.DataFrame([['Элизабет', 'Чай', 9, 354], ['Иван Никифорович', 'Колбаса', 3, 523], ['Элизабет', 'Молоко', 4, 476], ['Элизабет', 'Молоко', 5, 253], ['Иван Иванович', 'Кефир', 5, 829], ['Иван Никифорович', 'Молоко', 7, 874], ['Элизабет', 'Чай', 3, 901], ['Петя', 'Хлеб', 4, 644], ['Иван Иванович', 'Хлеб', 8, 943], ['Элизабет', 'Колбаса', 5, 80], ['Иван Никифорович', 'Чай', 3, 537], ['Иван Иванович', 'Журнал "Мурзилка"', 7, 204], ['Петя', 'Журнал "Мурзилка"', 2, 251], ['Петя', 'Колбаса', 1, 344], ['Иван Никифорович', 'Простокваша', 5, 694], ['Иван Иванович', 'Кефир', 3, 661], ['Иван Никифорович', 'Чай', 7, None], ['Элизабет', 'Хлеб', 6, 36], ['Ваня', 'Колбаса', 9, 40], ['Элизабет', 'Чай', 5, 846]], columns=['Покупатель', 'Товар', 'Количество', 'Цена'], index=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])]
tester_out = [1,0,0,0,1,0,1]
for tin, tout in zip(tester_inp, tester_out):
    assert contains_null(tin) == tout

### Problem 6 (2 points)
Consider dataframe `df` that contains some gradebook. Write function `gpa_top(df)` that modifies it in the following way:

- Add column `'GPA'` that contains average student's grade. Different students can take different courses, so some grades are missing (`NaN`'s) — it means that student didn't take a course. Average is calculated between courses that student took (so missings are ignored).
- Sort dataframe by GPA in descending order
- Return only those rows of the resulting dataframe for which `GPA` is not less than 4.

**Examples**

In [4]:
# input dataframe
pd.DataFrame([['Doe', 'John', 4, 5, 3.0, 5], 
              ['Smith', 'Alice', 5, 4, float("nan"), 4]], 
             columns=['Last Name', 'First Name', 
                      'Algebra', 'Calculus', 'Music', 'Law'], index=[0, 1])

  Last Name First Name  Algebra  Calculus  Music  Law
0       Doe       John        4         5    3.0    5
1     Smith      Alice        5         4    NaN    4

In [5]:
# output dataframe
pd.DataFrame([['Smith', 'Alice', 5, 4, float("nan"), 4, 4.333333333333333], 
              ['Doe', 'John', 4, 5, 3.0, 5, 4.25]], 
             columns=['Last Name', 'First Name', 'Algebra', 
                      'Calculus', 'Music', 'Law', 'GPA'], index=[1, 0])

  Last Name First Name  Algebra  Calculus  Music  Law       GPA
1     Smith      Alice        5         4    NaN    4  4.333333
0       Doe       John        4         5    3.0    5  4.250000

In [6]:
# input dataframe
pd.DataFrame([['Doe', 'John', 1, 5, 3.0, 5], 
              ['Smith', 'Alice', 5, 4, float("nan"), 4]], 
             columns=['Last Name', 'First Name', 'Algebra', 'Calculus', 
                      'Music', 'Law'], index=[0, 1])

  Last Name First Name  Algebra  Calculus  Music  Law
0       Doe       John        1         5    3.0    5
1     Smith      Alice        5         4    NaN    4

In [7]:
# output dataframe
pd.DataFrame([['Smith', 'Alice', 5, 4, float("nan"), 4, 4.333333333333333]], 
             columns=['Last Name', 'First Name', 'Algebra', 'Calculus', 
                      'Music', 'Law', 'GPA'], index=[1])

  Last Name First Name  Algebra  Calculus  Music  Law       GPA
1     Smith      Alice        5         4    NaN    4  4.333333

In [44]:
def gpa_top(df):
    df['GPA'] = df.mean(axis=1)
    df = df.sort_values(by = 'GPA', ascending = False)
    df = df[df.GPA >= 4]
    return df

In [45]:
import pandas as pd
def pd_repr(df):
    content = repr(df.values.tolist()).replace('nan', 'float("nan")')
    columns = repr(df.columns.tolist())
    index = repr(df.index.tolist())
    return "pd.DataFrame(%s, columns=%s, index=%s)" % (content, columns, index)

def test(table, columns, newtable, newindex):
    inp = pd.DataFrame(table, columns=columns)
    expected = pd.DataFrame(newtable, columns = columns + ['GPA'], index=newindex)
    out = gpa_top(inp)
    if len(out) == 0 and len(expected) == 0:
        return
    assert out.equals(expected), "Something wrong for input dataframe %s" % pd_repr(inp)

test([['Doe', 'John', 4, 5, 3.0, 5]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Doe', 'John', 4, 5, 3.0, 5, 4.25]], [0])
test([['Doe', 'John', 4, 5, 3.0, 5], ['Smith', 'Alice', 5, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 4, float('nan'), 4, 4.333333333333333], ['Doe', 'John', 4, 5, 3.0, 5, 4.25]], [1, 0])
test([['Doe', 'John', 1, 5, 3.0, 5], ['Smith', 'Alice', 5, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 4, float('nan'), 4, 4.333333333333333]], [1])
test([['Doe', 'John', 4, float('nan'), 3.0, float('nan')], ['Smith', 'Alice', 2, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [], [])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan')], ['Smith', 'Alice', 5, 5, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 4.666666666666667], ['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4.5]], [1, 0])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'Alice', 5, 5, float('nan'), 4, 4, float('nan')]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law', 'Science', 'English'], [['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 4, float('nan'), 4.5]], [0, 1])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'Alice', 5, 5, float('nan'), 4, 5, float('nan')], ['Doe', 'Alice', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'John', 5, 5, float('nan'), 3, 4, float('nan')], ['Doe', 'John', 4, float('nan'), 5.0, 2, 4, 5], ['Smith', 'Alice', 2, 2, float('nan'), 4, 4, float('nan')]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law', 'Science', 'English'], [['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 5, float('nan'), 4.75], ['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Doe', 'Alice', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Smith', 'John', 5, 5.0, float('nan'), 3.0, 4, float('nan'), 4.25], ['Doe', 'John', 4, float('nan'), 5.0, 2.0, 4, 5.0, 4.0]], [1, 0, 2, 3, 4])

## Problem 7
Consider dataframe `grades` that contains a table with grades of various students on various assignments (student is a row, assignment is a column). There is a series `weights` that contains weights for each assignment. Sum of weights is equal to 1. Write function `weight_grades(grades, weights)` that returns series with final grade of each student, calculated as weighted sum of their grades for each assignment.

**Hint.** There is method `.dot` for dataframe, it makes matrix multiplication (like `SUMPRODUCT` in spreadsheets).

In [56]:
def weight_grades(grades, weights):
    return grades.dot(weights)

In [57]:
grades = pd.DataFrame(dict(hw1=[3, 2, 2], hw2=[2, 3, 4]), index=['Alice', 
                                                             'Claudia', 
                                                             'Bob'])
weights = pd.Series([0.75, 0.25], index=['hw2', 'hw1'])
assert (weight_grades(grades, weights) == pd.Series([2.25, 2.75, 3.5],
                                                   index = ['Alice', 
                                                            'Claudia', 
                                                            'Bob'])).all()

grades = pd.DataFrame(dict(hw1=[3, 2], hw2=[2, 3], hw3=[0, 1]),
                      index=['Alice', 'Claudia'])

weights = pd.Series(dict(hw1=0.25, hw2=0.5, hw3=0.25))
assert weight_grades(grades, weights).to_dict() == {'Alice': 1.75, 
                                                    'Claudia': 2.25}

### Problem 8 (2 points)
Sometimes you have to standartize data: for example, shift and rescale each variable in such a way that mean becomes 0 and standard deviation becomes 1. Consider matrix $(x_{ij})$, $i$ is number of row and $j$ is number of column. Then standartized values are calculated in the following way:

$$z_{ij}=\frac{x_{ij}-\bar{x}_{\cdot j}}{\mathrm{\mathop{SD}}({x}_{\cdot j})},$$
where ${x}_{\cdot j}$ is a vector of values in $j$'th column and $\bar{x}_{\cdot j}$ is its sample average.

Write function `standartize(X)` that performs this opertion with dataframe `X`. It can be done surprisingly simple in pandas!

**Note.** You are not allowed to use loops or `if`'s in this problem.

**Hint.** If you have a dataframe and a series which length is equal to number of rows of the dataframe, you can apply arithmetic operations to this dataframe and series and they will be done row-wise. For example:

In [58]:
a = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
s = pd.Series([100, 200, 300])
a + s

     0    1    2
0  101  202  303
1  104  205  306

In [61]:
def standartize(X):
    return (X - X.mean()) / X.std()

In [64]:
pd.testing.assert_frame_equal(standartize(pd.DataFrame([[1, 1, 2], [4, 5, 6], [1, 2, 10]])), pd.DataFrame([[-0.5773502691896258, -0.8006407690254355, -1.0], [1.1547005383792517, 1.12089707663561, 0.0], [-0.5773502691896258, -0.32025630761017415, 1.0]], columns=[0, 1, 2], index=[0, 1, 2]))

## Problem 9 (2 points)
Write function `filter_outliers(df)` that takes dataframe of arbitrary size filled with numeric values and returns a new dataframe obtained from `df` by replacing all values, that are smaller than 0.05-quantile or 0.95-quantile of a column, by number 0. For example, if 0.05-quantile of the first column is $2$, all values in the first column that are smaller than $2$ should be replaced by $0$.

**Hint.** You can use `.quantile` method of `DataFrame`. Also `.where` is a useful `pd.DataFrame` method similar to that one of `pd.Series`.

**Note.** You are not allowed to use loops or `if`'s in this problem.

In [ ]:
# your code here

In [ ]:
ans = [{0:{0:31.0,1:-18.0,2:17.0,3:12.0,4:21.0,5:26.0,6:-18.0,7:-3.0,8:0.0,9:26.0},1:{0:-6.0,1:1.0,2:-19.0,3:37.0,4:39.0,5:0.0,6:30.0,7:-17.0,8:-19.0,9:14.0},2:{0:40.0,1:32.0,2:0.0,3:1.0,4:-6.0,5:30.0,6:0.0,7:39.0,8:39.0,9:15.0},3:{0:0.0,1:0.0,2:39.0,3:28.0,4:0.0,5:34.0,6:0.0,7:-7.0,8:23.0,9:29.0},4:{0:3.0,1:9.0,2:0.0,3:38.0,4:41.0,5:0.0,6:18.0,7:-12.0,8:-13.0,9:0.0}},
      {0:{0:31.0,1:40.0,2:3.0,3:1.0,4:0.0,5:17.0,6:0.0,7:0.0},1:{0:-6.0,1:0.0,2:-18.0,3:32.0,4:9.0,5:0.0,6:0.0,7:12.0}},
      {0:{0:31.0,1:3.0,2:0.0,3:0.0,4:37.0,5:21.0,6:41.0,7:34.0,8:-14.0,9:-17.0,10:32.0,11:-13.0,12:29.0,13:33.0,14:-3.0,15:-7.0,16:19.0,17:39.0,18:24.0,19:-13.0,20:14.0,21:20.0,22:13.0,23:41.0,24:0.0,25:-16.0,26:-6.0,27:31.0,28:22.0,29:11.0,30:21.0,31:-15.0,32:9.0,33:6.0,34:6.0,35:30.0,36:11.0,37:31.0,38:-18.0,39:0.0},1:{0:-6.0,1:0.0,2:9.0,3:39.0,4:1.0,5:39.0,6:26.0,7:0.0,8:0.0,9:39.0,10:0.0,11:26.0,12:-17.0,13:-17.0,14:23.0,15:27.0,16:32.0,17:20.0,18:0.0,19:42.0,20:14.0,21:7.0,22:12.0,23:16.0,24:26.0,25:-7.0,26:21.0,27:-17.0,28:8.0,29:38.0,30:24.0,31:7.0,32:41.0,33:41.0,34:-12.0,35:23.0,36:31.0,37:-9.0,38:35.0,39:33.0},2:{0:40.0,1:1.0,2:17.0,3:0.0,4:28.0,5:-6.0,6:41.0,7:-18.0,8:18.0,9:-7.0,10:39.0,11:14.0,12:0.0,13:33.0,14:13.0,15:-6.0,16:3.0,17:8.0,18:-12.0,19:-10.0,20:12.0,21:-14.0,22:27.0,23:23.0,24:-18.0,25:6.0,26:30.0,27:2.0,28:15.0,29:7.0,30:41.0,31:7.0,32:41.0,33:-18.0,34:41.0,35:3.0,36:41.0,37:18.0,38:38.0,39:0.0},3:{0:0.0,1:32.0,2:-19.0,3:12.0,4:38.0,5:41.0,6:30.0,7:30.0,8:-3.0,9:-12.0,10:23.0,11:15.0,12:-15.0,13:42.0,14:41.0,15:41.0,16:5.0,17:-6.0,18:-20.0,19:-13.0,20:-16.0,21:-9.0,22:2.0,23:14.0,24:-20.0,25:-12.0,26:42.0,27:-6.0,28:-8.0,29:0.0,30:36.0,31:23.0,32:-20.0,33:0.0,34:16.0,35:38.0,36:37.0,37:-19.0,38:-19.0,39:-2.0}}]
params = ((50, 10, 0), (16, 8, 1), (160, 40, 2))
for param in params:
    np.random.seed(42)
    dd = filter_outliers(pd.DataFrame(np.random.randint(-20, 50, param[0]).reshape(param[1],-1)))
    assert dd.astype(float).equals(pd.DataFrame(ans[param[-1]]))

### Problem 10 (2 points)

Write function `sort_gradebook(gradebook)` that accepts a gradebook which is a list of lists (not a dataframe!) `[first_name, last_name, grade_1, grade_2, ..., grade_n, final_grade]`, where `first_name` — student's first name, `last_name` — student's last name, `grade_1, ..., grade_n` — student's grades on assignments (`n` — is overall number of assignments, it is the same for all students), `final_grade` — final grade. Function have to sort `gradebook` in the following way:

- By final grade;
- If final grade coincides — by grade for the first assignment;
- If they coincide — by grade for the second assignemnt;
- If they coincide — by grade for the third assignments (and so on, until the last assignment);
- If all grades coincide — by last name;
- If all grades and last name coincide — by name.

Sorting by grades is descending, sorting by last name is ascending, sorting by first name is descending.

Return the resulting table as dataframe.

**Note.** You are not allowed to use loops or `if`'s here. You are also not allowed to use function `sorted` or list method `.sort`. Use `pandas` methods instead.

**Hint.** argument `ascending` in `sort_values` method of a DataFrame takes lists.

In [ ]:
# your code here

In [ ]:
from itertools import permutations
def test_sort(inp, outp):
    for i in permutations(inp):
        assert sort_gradebook(list(i)).values.tolist() == outp, i

test_sort([
        ['Alice', 'Smith', 2, 3, 4],
        ['John', 'Smith', 2, 3, 5]
    ], [
        ['John', 'Smith', 2, 3, 5],
        ['Alice', 'Smith', 2, 3, 4]
])

test_sort([
        ['Alice', 'Smith', 2, 3, 4],
        ['John', 'Smith', 2, 3, 4]
    ], [
    ['John', 'Smith', 2, 3, 4],
    ['Alice', 'Smith', 2, 3, 4],    
])

test_sort([
        ['Alice', 'Smith', 1, 3, 4],
        ['John', 'Smith', 2, 3, 4]
        ], [
        ['John', 'Smith', 2, 3, 4],
        ['Alice', 'Smith', 1, 3, 4]
])

test_sort([
            ['Alice', 'Smith', 1, 1, 1, 3, 4],
            ['John', 'Smith', 1, 1, 2, 3, 4]],
                         [
            ['John', 'Smith', 1, 1, 2, 3, 4],
            ['Alice', 'Smith', 1, 1, 1, 3, 4]
])

test_sort([
            ['Alice', 'Doe', 1, 1, 3, 3, 4],
            ['Alice', 'Smith', 1, 1, 3, 3, 4],
            ['John', 'Smith', 1, 1, 2, 3, 4]], 
          [
            ['Alice', 'Doe', 1, 1, 3, 3, 4],
            ['Alice', 'Smith', 1, 1, 3, 3, 4],
            ['John', 'Smith', 1, 1, 2, 3, 4]
])

test_sort([
        ['Alice', 'Doe', 1, 1, 3, 3, 4],
        ['Alice', 'Smith', 1, 1, 3, 3, 4],
        ['John', 'Smith', 2, 1, 2, 3, 4]], 
          [
        ['John', 'Smith', 2, 1, 2, 3, 4],
        ['Alice', 'Doe', 1, 1, 3, 3, 4],
        ['Alice', 'Smith', 1, 1, 3, 3, 4],
])

del test_sort

### Problem 11
You have a list of dictionaries like `[{'Alice': 2, 'Bob': 3}, {'Alice': 5, 'Claudia': 2}, {'Alice': 5, 'Bob': 4}]` that contains information about student's grades. You want to calculate mean grade of each student. If in some of these lists there is no record for a particular student, this list is ignored for this student. Write a function `mean_grade_dict(lst)` that takes this list of dictionaries and returns dictionary which keys are student's names and values are their average grades.

**Note.** You are not allowed to use loops or `if`'s here.

**Hint.** You can create `pd.DataFrame` from list of dictionaries. There is `.to_dict()` method of `pd.Series` objects.

In [53]:
def mean_grade_dict(lst):
    df = pd.DataFrame(lst)
    df2 = df.mean(axis=0)
    return df2.to_dict()

In [55]:
assert mean_grade_dict([{'Alice': 2, 'Bob': 3}, {'Alice': 5, 'Claudia': 2}, {'Alice': 5, 'Bob': 4}]) == {'Alice': 4.0, 'Bob': 3.5, 'Claudia': 2.0}
assert mean_grade_dict([{'Alice': 2, 'Bob': 3}, {'Alice': 5, 'Claudia': 2}, {'Alice': 5, 'Bob': 4}, {'Elizabeth': 3}, {'Alice': 4, 'Elizabeth': 2}]) == {'Alice': 4.0, 'Bob': 3.5, 'Claudia': 2.0, 'Elizabeth': 2.5}